html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #e5e7eb;
  }

  .header, .footer{
    height: 72px;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 150px;
    padding-right: 150px;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    font-size: 24px;
  }

  .header-links {
    display: flex;
    gap: 12px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .intro, .info, .quote, .CTA {
    display: flex;
    align-items: center;
    padding-top: 24px; 
    padding-bottom: 24px;
  }

  .intro {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;

    justify-content: space-between;
  }

  .intro-text {
    font-size: 48px;
    width: 50%;
  }

  .intro-text .intro-sub {
    font-size: 18px;
  }
   
  .intro-img {
    display: flex;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    border-radius: 12px;
    width: 100px;
    padding: 6px;
  }
  
  .sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
  }

  img {
    max-height: 256px;
    aspect-ratio: 16/9;
  }

  .info-container {
    display: flex;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70vw;
  }

  .info-big-text {
    color: #1f2937;
    font-size: 36px;
    margin-bottom: 24px;
  }

  .info-boxes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 60px;

  }

  .box-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-text {
    padding: 8px;
    width: 150px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
    height: 150px;
    width: 150px;

  } 

  .quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
  }

  .quote {
    display: flex;
    flex-direction: column;


  .the-quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
  }

  .person {
    align-self: flex-end;
    color: #1f2937;
    font-weight: 700;
    font-size: 24px; 
  }

  .CTA {
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
  }

  .cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    border-radius: 12px;
    height: 100px;
  }

  .cta-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .cta-top {
    font-weight: 900;
    font-size: 18px;
  }

  .cta-button {
    border-radius: 12px;
    border-color: #e5e7eb;
    border-style: solid;
    height: 31px;
    width: 100px;
    padding: 6px;
    color: #e5e7eb;
    background-color: #3882f6;
  }

  .info-box-half-one {
    display: flex;
    gap: 60px;
  }

  .info-box-half-two {
    display: flex;
    gap: 60px; 
  }


  @media only screen and (max-width: 1200px) {
    .the-quote {
        font-size: 1.3em;
    }

    .info {

    }

    .info-boxes {
      /*
      this can go in a smaller breakpoint
      gap: 0px;
      flex-direction: column;
      */
      align-items: center;
    }

    .intro {
      background-image: url("../img/pexels-jaime-reimer-2662116.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      color: black;
      height: 500px;
    }

    .intro-img {
      display: none;
    }

    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 240px;
    }
  }