html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #e5e7eb;
  }

  .header, .content, .footer {
    padding-left: 256px;
    padding-right: 256px;
  }

  .header, .footer{
    height: 72px;
    background-color: #1f2937;
    color: #f9faf8;
  }



  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    font-size: 24px;
  }

  .header-links {
    display: flex;
    gap: 12px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .intro, .info, .quote, .CTA {
    display: flex;
    flex: 1;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
